
    
.header
    background-color: #FFFFFF
    width: 100%
    display: flex
    justify-content: center
    min-height: 90px
    padding-bottom: 10px
    &_border-bottom
        border-bottom: 1px solid #ECECF0
    &__logo
        width: 191px
        height: 42px
        min-width: 191px
        min-height: 42px
        padding-bottom: 5px

    &__slogan
        font-family: 'Lato', sans-serif
       
        font-size: 15px
        line-height: 18px
        color: #72757D
    &__wrapper
        display: flex
        width: 100%
        min-width: 240px
        padding: 10px
        justify-content: space-between
        flex-direction: column
        @media ( min-width: 768px ) { width: 80%; flex-direction: row; align-items: center; }
        @media ( min-width: 1200px ) { width: 1170px;}

