@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
  background: #f6f6f6;
  padding: 0;
  margin: 0;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-flow: column;
      -ms-flex-flow: column;
          flex-flow: column; }
  @media only screen and (max-width: 375px) {
    body {
      margin: 10px auto; } }
  @media only screen and (max-height: 650px) {
    body {
      height: 100%;
      display: block; } }

.wrapper {
  width: 1170px;
  margin: 0 auto; }
  @media only screen and (max-width: 1170px) {
    .wrapper {
      width: 80%; } }
  @media only screen and (max-width: 375px) {
    .wrapper {
      width: 90%; } }

.header {
  height: 90px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  @media only screen and (max-width: 700px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      margin-top: 10px; } }

.slogan {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #72757D;
  text-align: center; }

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .main_mr {
    margin-right: 40px; }

.mb {
  margin-bottom: 20px; }
  @media only screen and (max-width: 375px) {
    .mb {
      margin-bottom: 10px; } }

.b-content__text {
  display: inline-block;
  color: #35373B;
  font-size: 1em; }

.b-content__text_size_xxl {
  font-weight: bold;
  font-size: 90px;
  line-height: 108px; }

.b-content__text_size_xl {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px; }

.b-content__text_size_x {
  font-size: 22px;
  line-height: 29px; }

.b-content__text_size_x_underline {
  border-bottom: 2px solid; }

.b-content__text_size_s {
  font-size: 15px;
  color: #828282;
  line-height: 146%; }

.b-content__img {
  width: auto;
  height: 100%; }
  @media only screen and (max-width: 1170px) {
    .b-content__img {
      display: none; } }

.footer {
  height: 94px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__label {
  font-size: 16px;
  line-height: 31px;
  color: #72757D;
  font-family: Lato; }

.logo {
  height: 42px;
  width: 191px; }

.separator {
  width: 100%;
  border: 0px #ECECF0;
  color: #ECECF0;
  background-color: #ECECF0;
  height: 2px; }

.btn {
  border: none;
  color: white;
  border-radius: 6px;
  width: 196px;
  height: 54px; }
  .btn_refresh {
    background-color: #4073FF; }

.timer {
  font-size: 22px;
  line-height: 26px;
  font-family: 'Roboto', sans-serif; }
  .timer_theme-blue {
    color: #4073FF; }
