// Google fonts
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');




body {
    background: #f6f6f6;
    padding: 0;
    margin: 0;    
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-flow: column ;
    @media only screen and (max-width:375px) {
        margin: 10px auto;
    }
    @media only screen and (max-height:650px) {
        height: 100%;
        display: block;
    }
        
}
.wrapper {
    width: 1170px;
    margin: 0 auto;
    @media only screen and (max-width:1170px) {
        width: 80%;
    }
    @media only screen and (max-width:375px) {
        width: 90%;
    }
  
}
    
@import 'components/header/header.sass';
@import 'components/main/main.sass';
@import 'components/footer/footer.sass';
@import 'components/logo/logo.sass';
@import 'components/separator/separator.sass';
@import 'components/button/button.sass';
@import 'components/timer/timer.sass'




