

$text_primary_color: #35373B
$text_second_color: #828282
$margin_bottom: 20px



.main
    flex: 1
    display: flex
    min-height: 75vh
    flex-direction: row
    align-items: center
    flex-basis: auto  
    
   
.mb 
    margin-bottom: 20px
    @media only screen and (max-width: 375px) 
            margin-bottom: 10px;

.b-content__text 
    
    color: $text_primary_color
    font-family: 'Lato', sans-serif
    font-weight: normal
    font-size: 15px

    &_huge
        font-size: 90px
        
    &_large
        font-size: 32px
        line-height: 38px
    &_medium
        font-size: 22px
        line-height: 29px
    &_tiny
        font-size: 15px
        line-height: 146%

.bold
    @extend .b-content__text
    font-weight: bold

.underline
    display: inline-block
    @extend .b-content__text
    border-bottom: 2px solid

.second-color
    @extend .b-content__text
    color: $text_second_color






// .b-content__text_size_xxl 
//     font-weight: bold;
//     font-size: 90px;
//     line-height: 108px;

// .b-content__text_size_xl 
//     font-weight: bold
//     font-size: 32px
//     line-height: 38px

// .b-content__text_size_x 
//     font-size: 22px
//     line-height: 29px
 
// .b-content__text_size_x_underline 
//     border-bottom: 2px solid

// .b-content__text_size_s 
//     font-size: 15px
//     color: #828282
//     line-height: 146%



.b-content__img
        width: auto
        height: 100%
        @media only screen and (max-width: 1190px) 
            display: none
        
    